/* input[type]
{
    background-color: aqua;
} */

/* input[type="text"]
{
    background-color: brown;

} */

/* input[class~="text"]
{
    background-color: blueviolet;
} */

/* input[class|="text"]
{
    background-color: chartreuse;
} */

/* input[class^="text"]
{
    background-color: chocolate;
} */

/* input[class$="text"]
{
    background-color: orange;
} */
/* 
input[class*="e"]
{
    background-color: fuchsia;
} */

